.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.container {
  background-color: #05050b;
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4dvw;
}
.Ptitle{
    position: absolute;
    color: rgba(255, 255, 255, 0.466);
    bottom: 3%;
    left: 3%;
    font-size: 2dvw;
    font-style: italic;
}
.intro {
  height: 80%;
  width: 65%;
  position: relative;
  bottom: 4dvh;
  border-radius: 3dvh;
}
.intro video {
  bottom: 4dvh;
  border-radius: 3dvh;
  border: 0.5dvh solid #111110;
}

.switch {
  border: 0.5dvh solid #111110;
  height: 80%;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 22%,
    rgba(0, 0, 0, 1) 69%,
    rgba(9, 9, 20, 1) 79%,
    rgba(40, 38, 91, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 22%,
    rgba(0, 0, 0, 1) 69%,
    rgba(9, 9, 20, 1) 79%,
    rgba(40, 38, 91, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 22%,
    rgba(0, 0, 0, 1) 69%,
    rgba(9, 9, 20, 1) 79%,
    rgba(40, 38, 91, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#28265b",GradientType=1);
  width: 25%;
  position: relative;
  border-radius: 3dvh;
  top: 4dvh;
}

.Login .title {
  display: flex;
  justify-content: center;
  padding: 3dvh 0 ;
  color: white;
  font-size: 1.4dvw;
}
.Login .item {
  color: white;
  font-size: 1.3dvw;
  display: flex;
  padding: 1.2dvh;
  justify-content: center;
}

.wrapper {
   margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4dvh;
  align-items: center;
  margin-top: 1.8dvw;
  margin-bottom: 1.5dvw;
}

 .betterOutline::placeholder {
  font-style: italic;
}

.betterOutline:focus {
  --width: 3px;
  --color: #020d71;
  outline: transparent;
  box-shadow: 0 0 0px var(--width) var(--color);
}

.Login .icon {
  color: white;
  font-size: 1.2dvw;
  display: flex;
  padding: 1.2dvh;
  justify-content: center;
  align-items: center;
}
.googleOutline .googleIcon {
    width: 2dvw; 
    height: auto;  
    max-width: 100%;  
    object-fit: contain;  
  }
.googleOutline {
    border-radius: calc((1rem + 1.25rem * 2) / 2);
     cursor: pointer;
    width: 80%;
    margin: 0 auto;
    border: 0.2dvh solid #222222 ;
    margin-bottom: 0.8dvh;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .googleOutline:hover{
    background-color: #333;
    transition: 1s ease;
  }
.betterOutline {
    font-family: inherit;
    font-size: 1.2dvw;
    color: inherit;
    border: none;
    border-radius: calc((1rem + 1.25rem * 2) / 2);
    background-color: #333;
    padding: 0.75rem 1.25rem;
    box-shadow: none;
    color: white;
    transition: box-shadow 0.15s;
  }

.Login button {
    border-radius: 50px;
    background-color:rgb(255, 255, 255) ;
     color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.1dvw;
     padding: 0.7dvh 1dvw;
     font-style: italic;
     letter-spacing: 0.2dvw;
   }
.Login button:hover {
    box-shadow: white 0.7vh 0.7vh 9vh;
   }
   .LoginSign{
    cursor: pointer;
   }
.LoginSign:hover{
    color: #1dd009a0;
    transition: 0.7s ease;
    }