.container {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  overflow: hidden;
}

.main {
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aliceblue;  */
}
.title {
  position: relative;
  top:25%;
  color: aliceblue;
  font-weight: 900;
  text-shadow: 0.5vw 0.5vw 2dvw rgba(255, 255, 255, 0.6);
  font-size: 2.5dvw;
  z-index: 1000;
  font-style: italic;
  letter-spacing: 0.5dvw;
}
.image {
  position: relative;
  top: 6%;
  border-radius: 1.5dvh;
  height: 25%;
  width: 94%;
  background: url("/images/interior.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.status {
  height: 10%;
  width: 95%;
  position: relative;
  top: 8%;
  background-color: #282828;
  border-radius: 1.5dvh;
  display: flex;
  align-items: center;
   overflow: hidden;
   justify-content: center;
   gap: 10dvw;
 }

 .status .circle{
display: flex;
flex-direction: column;
gap: 0.5dvh;
align-items: center;
justify-content: center;
 }
 .status .c{
color: #282828;
background-color: rgba(245, 245, 245, 0.885);
height: 4dvh;
width: 3dvw;
border-radius: 100%;
font-weight: 800;
font-size: 2.4dvh;
display: flex;
align-items: center;
justify-content: center;
 }
 .status .circle p{
color: rgba(245, 245, 245, 0.521);
font-weight: 600;
font-size: 2dvh;
font-style: italic;
  }

 .Booking{
    display: flex;
    height: 45%;
    width: 95%;
    justify-content: space-between;
    position: relative;
    top: 11.5%;
    gap: 2dvw;
 }
 .TermsConditions{
    color: antiquewhite;
    width: 20%;
    background-color: #282828;
    padding: 2dvh 2.5dvh;
    overflow-y: scroll;
    border-radius: 1.7dvh;

  }
  .TermsConditions p{
    padding: 1dvh 0;
    border-bottom: dashed 0.12dvw rgba(255, 255, 255, 0.715);
    font-size: 1.6dvh;
    color: rgba(250, 235, 215, 0.371);
  }
.carsDiv{
display: grid;
width: 79%;
overflow-y: scroll;
 }  
.cars {
    display: flex;
    position: relative;
   background-color: #1b1b1b;
 align-items: center;
  gap: 2dvw;
    border-bottom: dashed 0.15dvw rgba(255, 255, 255, 0.399);
    padding-bottom: 5dvh;
}
.cars .carImage{
    width: 45%;
    height: 100%;
 } 
.cars .carImage img{
    width: 100%;
    height: 100%;
     border-radius: 1.7dvh;
} 
.carDetails{
    display: flex;
    flex-direction: column;
    height: 100%;
     align-items: start;
    justify-content: space-between;
  }
 .carDetails .carTitle{
    font-size: 1.6dvw;
    font-weight: 400;
    letter-spacing: 0.4dvw;
    color: whitesmoke;
}
 .carDetails .CarPrice{
    font-size: 2.1dvw;
    font-weight: 900;
    color: whitesmoke;
 }
 .carDetails .moreInfo{
    display: inline-flex;
     color: whitesmoke;
     align-items: center;
     cursor: pointer;
 }
 .carDetails .moreInfo p:hover{
    text-decoration: underline;
 }
 
 .cars .select{
    position: absolute;
    right: 5%;
    display: flex;
    flex-direction: column;
    height: 85%;
    align-items: start;
    justify-content: space-between;
    color: whitesmoke;
  }
 .cars .select .button{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.889);
    border-radius: 1dvh;
    padding: 0.8dvh 1.15dvw;
    border: none;
    cursor: pointer;
      font-size: 1dvw;
     font-weight: 500;
     font-style: italic;
  }

  .cars .select .button:hover{
    box-shadow: 0 0 2dvw rgba(255, 255, 255, 0.585);
    color: rgb(34, 37, 37);
    transition: 0.5s ease;
  }
  .cars .select .seater{
    display: inline-flex;
    align-items: center;
    border: 0.04dvw solid rgba(255, 255, 255, 0.295);
    padding: 0.05dvw 0.5dvw;

  }